<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

</head>
<body>
      <nav class="sidebar"> 
  <div class="sidebar-menu">
    <p class="menu-label">Main Menu</p>
    <ul>
     <li><a href="../dashboard.html">Dashboard</a></li>
     <li><a href="../pages/about.html">About</a></li>
     <li><a href="../pages/projects.html">Projects</a></li>
     <li><a href="../pages/milestones.html">Milestones</a></li>
     <li><a href="../pages/techstack.html">Tech Stack</a></li>

    </ul>
  </div>
</nav>
</body>
</html>