<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
     <nav class="sidebar"> 
  <div class="sidebar-header">
    <h1 class="sidebar-logo">ElevateTrack</h1>
  </div>
  <div class="sidebar-menu">
    <p class="menu-label">Main Menu</p>
    <ul>
      <li><a href="#" class="active">Dashboard</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Goals</a></li>
      <li><a href="#">Activity Tracker</a></li>
    </ul>
  </div>
</nav>
<section class="container">
  <header class="heading">
    <h1>Hello, Keirt!</h1>
    <p>October 8, 2025</p>
  </header>

  <div class="box-container">
    <div class="box">
      <span class="material-icons icon">folder</span>
      <div class="box-text">
      <h3>Active Projects</h3>
      <p>3</p>
        </div>
    </div>
  

    <div class="box">
      <span class="material-icons icon">my_location</span>
      <div class="box-text">
      <h3>Goals in Progress</h3>
      <p>3</p>
      </div>
    </div>

    <div class="box">
      <span class="material-icons icon">code</span>
      <div class="box-text">
      <h3>Task Completed</h3>
      <p>3</p>
      </div>
    </div>
  </div>
</section>


</body>
</html>