:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

h1, h2, h3, .sidebar p {
  font-family: var(--font-heading);
}

body, p, a, span {
  font-family: var(--font-body);
}

body {
  margin: 0;
  padding: 0;
  display: flex; 
  background-color: #efefef;
}

.main-container {
  width: 100%;
  max-width: 900px;
  padding: 25px 30px;
  height: 91vh;
}

h1 {
  font-size: 1.8rem;
  margin: 0 0 8px;
  color: #1c1c1c;
}

h3 {
  margin-top: 10px;
  color: #2d2d2d;
}

.icon {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 26px;
}

  /*IMAGE*/
.heading-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.image-border {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  overflow: hidden;
}

.image-border img {
  width: 100%;
  height: 100%;

}

.details h1 {
  margin: 0;
}

.details p {
  margin: 4px 0 0;
  color: #555;
  font-size: 1rem;
}

 /*ABOUT ME*/
.about-container {
  margin-bottom: 20px;
}

.about-box {
  background: #fff;
  padding: 20px 22px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}

.about-box p {
  margin-top: 10px;
  line-height: 1.7;
  color: #444;
  background-color: transparent;
}


 /*TECHSTACK*/
.techstack-container {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 22px;
  border-radius: 12px;
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.tech-box {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}


.tech-item {
  background: #fff;
  border: 1px solid #d7dde6;
  padding: 10px 16px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tech-item i {
  font-size: 32px;
}

.tech-item:hover{
  background-color: #efefef;
}

 /*EDUCATION*/
.education-container {
  height: 390px;
  width: 500px;
  background: #fff;
  padding: 20px 22px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}


.education-container h1, h2, p {
  background-color: transparent;

} 

.education-container h2 {
  margin-bottom: 10px;
}

.right-box {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px;
}