:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

h1, h2, h3, .sidebar p {
  font-family: var(--font-heading);
}

body, p, a, span {
  font-family: var(--font-body);
  background-color: #F5F7FB;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.image-border img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.tech-box {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(120px, 5px));
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}