:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

h1, h2, h3, .sidebar p {
  font-family: var(--font-heading);
}

body, p, a, span {
  font-family: var(--font-body);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-container {
 padding: 25px 30px;
 height: 91.5vh;
 display: flex ;
 gap: 10px;
 justify-content: center;
 align-items: center;
 
}

.project-container {
 border: 1px solid #ccc;
 padding: 10px;
 width: 400px;
 height: 400px;
}
